// import Lato bold 700 weight
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.main {
  height: 100%;
  padding-bottom: 38px;
}

.my-clients-container {
  margin-bottom: 10px;
}

.main-content {
  height: 90%;
  padding-bottom: 226px;
  border-radius: 10px;
}


