$dropdown-button-width: 165px;
$dropdown-button-height: 40px;

.application-details-container {
  max-width: 1065px;
  // TODO This class can be removed after all the box components are implemented
  .application-details-box {
    border-radius: 10px;
    border: 1px solid rgba(#000000, 0.12);
    height: 400px;
  }

  .select-button {
    max-width: $dropdown-button-width;
    min-width: $dropdown-button-width;
    height: $dropdown-button-height;
    text-transform: none;
  }

  .selection {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: none;
    width: 100%;
  }

  .select-field {
    margin-right: 45px;
  }
}